@import "variables.scss";
@import "header.scss";

main {
  max-width: $body_width;
  margin: 0 auto;
  @media (max-width: 1200px) {
    width: 90%;
  }
}

h1 {
  font-size: $h1_size;
  font-weight: lighter;
  margin: 30px 0;
}

p {
  font-weight: lighter;
  font-size: 20px;
  line-height: 1.75em;
  padding-bottom: 10px;
  @media (max-width: 576px) {
    line-height: 1.5;
  }
  a {
    color: $link_color;
  }
}

.p__bags {
  font-size: 16px;
  font-style: italic;
  padding: 10px 0;
}

.coffee {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: -50px;
  &__item {
    width: 48%;
    background-color: $coffee_card_color;
    margin-bottom: 3%;
    @media (max-width: 576px) {
      width: 100%;
    }

    img {
      background-size: cover;
      background-position: center;
      width: 100%;
    }
    &__header {
      font-size: $h2_size;
      font-weight: lighter;
      border-bottom: 1px solid rgba(104, 104, 104, 0.329);
      padding: 20px;
      @media (max-width: 576px) {
        padding: 1px;
      }
      &__taste {
        font-size: 16px;
        font-style: italic;
        padding: 15px 5%;
      }
      &__description {
        font-size: 16px;
        padding: 0 5% 5% 5%;
      }
    }
  }
}

@import "footer.scss";
