@import "variables.scss";

footer {
  background-color: $footer_color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  color: $footer_font_color;

  nav {
    // padding: 3% 0;
    margin-bottom: 60px;
    width: 100%;
    text-align: center;
    font-weight: lighter;
    a {
      color: $link_color;
      margin: 0 2%;
    }
    .footer__nav__link--active {
      color: $footer_font_color;
      text-decoration: none;
    }
  }
  h3 {
    font-size: 20px;
    font-weight: bold;
    padding: 15px;
    letter-spacing: 0.1em;
  }
  p {
    font-weight: lighter;
    font-size: 16px;
    a {
      color: $link_color;
    }
  }
}
