@import "variables.scss";

* {
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: lighter;
  margin: 0;
  padding: 0;
}
.header {
  width: 100vw;
  background-color: $nav_color;
  text-align: center;
}

header {
  display: flex;
  max-width: 1500px;
  justify-content: space-between;
  align-items: center;

  margin: 0 auto 20px auto;
  img {
    width: 13%;
    padding: 15px;
    margin-left: 10%;
  }
  nav {
    margin-right: 10%;
    display: flex;
    justify-content: flex-end;
    width: auto;
    // text-align: center;
    a {
      color: $nav_link_color;
      text-decoration: none;
      width: 80px;
    }
    .header__nav--active {
      color: black;
    }
  }
}
a:hover {
  text-shadow: 2px 2px 2px #c0c0c0d0;
}

@media (max-width: 576px) {
  header {
    flex-direction: column;
    margin: 0;
    padding: 10px;
    img {
      margin: auto;
      width: 35vw;
    }
    nav {
      justify-content: center;
      margin-right: 0;
      a {
        text-align: center;
      }
    }
  }
}
