@import "variables.scss";
@import "map.scss";

@import "header.scss";

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: -30px;
  font-weight: lighter;
  max-width: $body_width;
  // width: 100%;
  margin: auto;
  @media (max-width: 1200px) {
    width: 90%;
    // line-height: 1.5;
  }

  h1 {
    font-size: $h1_size;
  }

  h2 {
    font-size: $h2_size;
  }

  h1,
  h2 {
    text-align: left;
    width: $body_width;
    text-transform: uppercase;
    font-weight: lighter;
    margin: 0.5rem;
    width: 100%;
    @media (max-width: 576px) {
      width: 90%;
      line-height: 1.5;
    }
  }
  img {
    width: 100%;
    padding-top: 20px;
    @media (max-width: 576px) {
      width: 90%;
    }
  }

  .mid-bar {
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
    @media (max-width: 576px) {
      flex-direction: column;
      align-items: center;
    }
    div {
      width: 33%;
      margin: 0.5rem;
      @media (max-width: 576px) {
        width: 90%;
        line-height: 1.75;
      }
      h3 {
        text-transform: uppercase;
        font-weight: lighter;
        margin: 1rem 0;
        font-size: 20px;
      }
      p {
        line-height: 1.8;
        font-size: 16px;
      }
    }
  }
}

@import "footer.scss";
