@import "variables.scss";

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 500px;
  width: $body_width;
}

.mapouter {
  position: relative;
  text-align: right;
  height: 500px;
  width: $body_width;
}
