@import "variables.scss";

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 500px;
  width: 100%;
}

.mapouter {
  position: relative;
  text-align: right;
  height: 500px;
  width: 100%;
  margin-bottom: -30px;
}

@media (max-width: 576px) {
  .gmap_canvas,
  .mapouter {
    height: 250px;
    margin-right: 0;
  }
}
