@import "variables.scss";

@import "header.scss";

main {
  width: $body_width;
  margin: 0;
  // padding: 10%;
  font-weight: lighter;
  font-size: 13px;
  line-height: 200%;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  // @media (max-width: 1100px) {
  //   width: 900px;
  // // }
  // .main__heading {
  //   display: flex;
  //   justify-content: center;
  //   width: 100%;
  //   text-align: left;
  .h1__menu {
    width: 90%;
    text-align: left;
    margin: auto;
  }
}
h1,
h2 {
  font-weight: 300;
  padding-top: 20px;
  padding-bottom: 20px;
  height: auto;
  // align-self: flex-start;
}

.h1__menu {
  padding-bottom: 20px;
  font-size: 40px;
  width: 100%;
  text-align: left;
  font-weight: lighter;
}
.menu {
  display: flex;
  // justify-content: center;
  justify-content: space-evenly;
  width: 100%;
  margin: auto;
  @media (max-width: 750px) {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .menu__column {
    width: 45%;
    padding: 5%;
    @media (max-width: 750px) {
      width: 70%;
      // margin: 0 25%;
    }
  }
  .section {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    padding-bottom: 40px;
    p {
      line-height: 3;
      font-size: 16px;
    }
  }
  // padding: 10px 0;
  &__drink {
    font-size: 32px;
    font-weight: 300;
    // line-height: 3;
    //   width: 300px;
  }
  .non-alco {
    height: 100px;
    line-height: 1;
  }
}

img {
  width: 100%;
  margin-bottom: -30px;
  padding: 0 10%;
}

@import "footer.scss";
