$body_width: 1100px;
$h1_size: 40px;
$h2_size: 32px;
$link_size: 16px;

$nav_color: #f8f9fa;
$footer_color: #343a40;
$nav_link_color: #848585;
$link_color: #078ce6;
$coffee_card_color: #f0f1f2;
$footer_font_color: #ced4da;
